# Binários compilados do Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Diretório de dependências (se você usar vendoring, remova essa linha)
vendor/

# Arquivos temporários
*.log
*.tmp

# Diretórios e arquivos do VS Code
.vscode/
.history/

# Módulos do Go (mantemos go.mod e go.sum, ignoramos outras caches)
go.sum

# Diretório de cache do Go
Gopkg.lock
Gopkg.toml
.idea/
*.swp

# Arquivos do sistema
.DS_Store
Thumbs.db